{% extends "base.html" %}
{% load static i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}Videos{% endblock %}

{% block content %}
<div class="trifold-wrap">
  <div class="trifold-sidebar">
    <div class="trifold-breadcrumb">
      <a class="link neutral-1" href="{% url 'pages' 'contractor' %}">Contractor</a> >
      <span class="breadcrumb-active">Videos</span>
    </div>
    <div class="misc-menu-wrap">
      {% include "components/dynamic_menu.html" %}
    </div>
  </div>

  <div class="trifold-detail">
    {% include "components/icons/icon-vertical-ellipsis.svg" %}
    <div
      id="app"
      data-type="Videos"
      data-url="{% url 'rest-videos:list' %}"
      data-desc="See videos"></div>
  </div>

</div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  {% render_bundle 'videos' %}
{% endblock javascript %}
