{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <h2 class="page-title">{% trans "Change Password" %}</h2>

    <form class="account-form" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <div class="input-group">
          <label class="label requiredField">Current Password<span class="asteriskField">*</span></label>
          <input class="input" name="oldpassword" placeholder="Current Password" type="password" required="">
        </div>
        <div class="input-group">
          <label class="label requiredField">New Password<span class="asteriskField">*</span></label>
          <input class="input" name="password1" placeholder="New Password" type="password" required="">
        </div>
        <div class="input-group">
          <label class="label requiredField">New Password (again)<span class="asteriskField">*</span></label>
          <input class="input" name="password2" placeholder="New Password (again)" type="password" required="">
        </div>
        <button class="btn btn-md neutral-0" type="submit">CHANGE PASSWORD</button>
    </form>
{% endblock %}
