{% extends "users/base.html" %}
{% load static %}

{% block title %}User: {{ object.name }}{% endblock %}

{% block bodyclass %}bg-light{% endblock %}

{% block inner %}

{{ form.errors }}

<h1 class="page-title">My Account</h1>

<form class="account-form" method="post" action="{% url 'users:update' %}">
  {% csrf_token %}
  <div class="input-group">
    <input class="input has-icon" maxlength="100" name="name" type="text" value="{{ user.name }}" required="" placeholder="Name">
  </div>
   <div class="input-group">
    <input class="input has-icon" name="email" type="text" value="{{ user.email }}" required="">
  </div>
  <div class="input-group">
    <input class="input has-icon" maxlength="12" name="postal_code" type="text" value="{{ user.postal_code }}" required="">
  </div>
  <div class="input-group">
    <input class="input" name="new_password" type="password" placeholder="Change Password">
  </div>
  <div class="input-group">
    <input class="input" name="confirm_new_password" type="password" placeholder="Confirm New Password">
  </div>
  <button class="btn btn-md neutral-6" type="submit">UPDATE</button>
</form>

{% endblock inner %}
