{% extends 'base.html' %}

{% block bodyclass %}{% endblock %}

{% block content %}
    <div class="lk-squeeze">
      <div class="page-content">
        <h1 class="page-title neutral-0">Request A Quote</h1>
        <form class="request-quote" method="POST">
          {% csrf_token %}
          <div class="input-group">
            <input class="input" id="id_first_name" name="first_name" type="text" placeholder="First Name" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_last_name" name="last_name" type="text" placeholder="Last Name" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_email" name="email" type="email" placeholder="Email" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_phone" name="phone" type="text" placeholder="Phone" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_address" name="address" type="text" placeholder="Address" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_city" name="city" type="text" placeholder="City" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_state" name="state" type="text" placeholder="State" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_postal_code" name="postal_code" type="text" placeholder="Postal Code" required="">
          </div>
          <div class="input-group">
            <input class="input" id="id_project_type" name="project_type" type="text" placeholder="Project Type" required="">
          </div>
          <div class="input-group">
            <textarea class="textarea" cols="40" id="id_description" name="description" rows="10" placeholder="Description" required=""></textarea>
          </div>
          <button class="btn btn-md neutral-0" type="submit">REQUEST A QUOTE</button>
        </form>
      </div>
    </div>
{% endblock %}
