<div class="product-modal-view">
  <div class="product-modal-content">
    <img class="product-modal-image" src="" />
  </div>
  <div class="product-modal-footer">
    <div class="modal-icon-wrap">
      <span class="download-icon">
        {% include "components/icons/icon-download.svg" %}
      </span>
      <span class="print-icon">
        {% include "components/icons/icon-print.svg" %}
      </span>
      <!-- <span class="gallery-icon"></span> -->
    </div>
    <h6 class="title"></h6>
    <div class="paragraph"></div>
  </div>
</div>
