{% if menus.section_one %}
  <ul class="misc-menu-parent">
    {% for item in menus.section_one %}
      <li class="misc-menu-category{% if item.has_children %} has-children{% endif %}">
        <a class="link neutral-0 parent" href="{{ item.url }}">{{ item.label }}</a>
        {% for child in item %}
          {% if forloop.first %}
            <ul class="misc-menu-child">
          {% endif %}
          <li>
            <a class="link neutral-1 child" href="{{ child.url }}">{{ child.label }}</a>
          </li>
          {% if forloop.last %}
            </ul>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if menus.section_two %}
  <ul class="misc-menu-parent">
    {% for item in menus.section_two %}
      <li class="misc-menu-category{% if item.has_children %} has-children{% endif %}">
        <a class="link neutral-0 parent" href="{{ item.url }}">{{ item.label }}</a>
        {% for child in item %}
          {% if forloop.first %}
            <ul class="misc-menu-child">
          {% endif %}
          <li>
            <a class="link neutral-1 child" href="{{ child.url }}">{{ child.label }}</a>
          </li>
          {% if forloop.last %}
            </ul>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if menus.section_three %}
  <ul class="misc-menu-parent">
    {% for item in menus.section_three %}
      <li class="misc-menu-category{% if item.has_children %} has-children{% endif %}">
        <a class="link neutral-0 parent" href="{{ item.url }}">{{ item.label }}</a>
        {% for child in item %}
          {% if forloop.first %}
            <ul class="misc-menu-child">
          {% endif %}
          <li>
            <a class="link neutral-1 child" href="{{ child.url }}">{{ child.label }}</a>
          </li>
          {% if forloop.last %}
            </ul>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
