<div class="modal-view">
  <div class="modal-header">
    <h4 class="title">Register</h4>
  </div>

  <div class="modal-content">
    <form class="form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="input-group">
        <label class="radio">
          <input type="radio" name="user_type" value="homeowner" />
          <span></span>
          Homeowner
        </label>
        <label class="radio">
          <input type="radio" name="user_type" value="contractor" />
          <span></span>
          Contractor
        </label>
      </div>
        <div class="input-group">
          <input class="input" name="name" placeholder="Name" type="text" required="" />
        </div>
        <div class="input-group">
          <input class="input" name="email" placeholder="E-mail address" type="email" required="" />
        </div>
        <div class="input-group">
          <input class="input" name="postal_code" placeholder="Zipcode" type="text" required="" />
        </div>
        <div class="input-group">
          <input class="input" name="password1" placeholder="Password" type="password" required="" />
        </div>
      <button class="btn btn-md neutral-0" type="submit">REGISTER</button>
    </form>
  </div>

  <div class="modal-footer">
    <p class="paragraph">Already have an account? &nbsp; <a class="link neutral-0 modal-transition" data-authentication="login" href="">Login.</a></p>
  </div>
</div>
