{% extends "base.html" %}
{% load static i18n %}
{% block title %}Items{% endblock %}

{% block bodyclass %}bg-light{% endblock %}

{% block content %}
<div class="container">
  <h2>Items</h2>

  <a href="{% url 'galleries:item-add'%}">
      <button>Add</button>
  </a>

  <div class="list-group">
    {% for item in item_list %}
      <div>
        <a href="{{ item.get_absolute_url }}">
          {{ item }}<img style="height: 200px; width: auto;" src="{{ item.large_thumbnail.url }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
