{% extends "galleries/base.html" %}
{% load static i18n %}
{% block title %}Projects{% endblock %}

{% block bodyclass %}bg-light{% endblock %}

{% block inner %}

  {% if object %}
    <h2 class="page-title">Edit Project</h2>
  {% else %}
    <h2 class="page-title">Add Project</h2>
  {% endif %}

  <form class="account-form" method="post" action="{% if from %}?next={{ from }}{% endif %}">{% csrf_token %}
    <div class="input-group">
      {{ form.name.errors }}
      <label class="label" for="{{ form.name.id_for_label }}">Name</label>
      {{ form.name|addcss:"input" }}
    </div>
    <div class="input-group">
      {{ form.description.errors }}
      <label for="id_description">Description</label>
      {{ form.description|addcss:"textarea" }}
    </div>
    <button class="btn btn-md neutral-6" type="submit">
        {% if object %}
          UPDATE
        {% else %}
          SAVE
        {% endif %}
      </svg>
    </button>
    {% if object %}
      <a href="{% url 'galleries:project-delete' object.slug %}">Delete</a>
    {% endif %}
  </form>

{% endblock inner %}
